<div class="container d-flex flex-column w-25 mt-3">
  <h1 class="mb-3">Stupid Coaching</h1>
  <form action="/answer" data-turbo="false">
    <input type="text" name="question" placeholder="what is your question?" class="form-control mb-3">
    <input type="submit" value="Ask!" class="btn btn-primary">
  </form>
</div>
